#floatinglabel {
	z-index: 3200;
}

.modal li {
	list-style-type: none;
}

.filterslider {
	margin-bottom:1em;
	width:80%;
	margin-left: 1em;
	/*margin-right:auto;*/
}

.iconspin{
    -webkit-animation: 0.5s linear 0s infinite spin;
    -moz-animation: 0.5s linear 0s infinite spin;
    animation: 0.5s linear 0s infinite spin;
}

button#apply {
    background-color: teal !important;
}

button#loadmore {
    background-color: teal !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    display: none;
}

@-moz-keyframes spin {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#geeklistitems[data-glaze-collapsed="Y"] div.attrs {
  display: none;
}

.btnUntoggle {
  background-color: #c9c9c9;
  margin: 2px;
  display: inline;
  color: teal;
  padding: 1px;
}

.btnUntoggle:after {
  content: " \00d7 ";
  background-color: teal;
  color: white;
  padding-right: 1px;
}
