.appName {
  border-bottom: 1px solid #fff;
  padding: 0px;
  margin: 0px;
}

.appName > p {
  margin: 0px;
  padding: 0px;
}

.listHeader {
  //border: 1px solid black; 
  padding: 1% 1% 1% 2%;
  background-color: teal;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  
}

.listHeader > h1 {
  color: #fff;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 2em;
}

.listHeader p, .listHeader a {
  color: white;
}

.syncStatus {
  margin-left: 0.1em;
  font-size: smaller;
  padding: 0.1em; 
  color: #fff;
}

.syncActive {
  background-color: rgb(0,158,115); 
}

.syncInactive {
  background-color: rgb(213,94,0); 
}

.num {
  
}

.numDistinct {
  
}

.loading {
  translateZ(0);
  animation: colorRotate 1s linear 0s infinite;
}
  
@keyframes colorRotate {
    from {
        background-color: rgb(255, 0, 0);
    }
    16.6% {
        background-color: rgb(255, 0, 255);
    }
    33.3% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    66.6% {
        background-color: rgb(0, 255, 0);
    }
    83.3% {
        background-color: rgb(255, 255, 0);
    }
    to {
        background-color: rgb(255, 0, 0);
    }
}

.headerFixed {
   /*position: fixed;*/
   top: 0px;
}

.headerFixed .listHeaderDetails, .headerFixed .appName {
  display: none;
}

.listHeaderButton {
  display: inline-block;
  /*min-width: 20%;
  max-width: 25%;*/
  width: 23%;
  color: white;
  font-size: 1em;
  text-align: center;
  border-left: 1px solid white;
  border-bottom: 3px solid rgba(255,255,255,0);
}

.listHeaderButton:hover {
  border-bottom: 3px solid white;
}

.selectedHeaderButton {
  border-bottom: 3px solid white;
}

.listHeaderButtons {
  display: none;
}

.listHeaderButtons > :first-child {
  border-left: none;
}

.listHeaderButtons {
  padding: 0px;
}

.menuButton {
  background-color: yellow;
  opacity: 0.5;
}

#glaze-hdr .left {
  position: fixed;
  top: 50%;
  left: 0px;
}

#glase-hdr .right {
  position: fixed;
  top: 50%;
  right: 0px;
}
