{{#if attrs.length}}
	<ul>
      		{{#each attrs}}
          		<li>
				{{#if @first}}
        		  		<i class="{{../icon}}"></i>
          			{{/if}}
				<span class="tp tpAttr"><a href="{{bgAttrFilterLink ../attrnm this.objectid}}">{{this.name}}</a></span>
			</li>
		{{/each}}
	</ul>
{{/if}} 
