<div class="form-group glaze-tmpl-filter-dropdown">
	<label for="{{attr}}">{{attrnm}}</label>
	<select id="{{attr}}" class="form-control" data-live-search="true" data-glaze-default="{{default_value}}"></select>
	<span class="sidenav-reset-button"><i class="fa fa-refresh">reset</i></span>
</div>
