	<div class="modal-dialog">	
		<div class="modal-content">
			<div class="modal-header">
				<div>
					<button type="button" class="close pull-right pull-up" data-dismiss="modal">&times;</button>
			</div>

			<button type="button" class="btn btn-default btn-block btn-primary" data-dismiss="modal" id="apply">Apply</button>
		</div>
		<div class="modal-body">
			<p id="guesstimated_obs" style="float: left;">&lt;&infin;</p>
			<h3>Sorting</h3>
			<div>
				<form>
					<li>
						<select id="sortby" class="form-control">
							<option value="crets" selected>Addition time</option>
							<option value="name">Name</option>
							<option value="cnt">Count</option>
							<option value="thumbs">Thumbs</option>
							<option value="yearpublished">Year</option>
						</select>
					</li>	
					<li>
						<label class="radio-inline">
							<input type="radio" name="sortby_asc" value="1">Ascending</input>
						</label>
						<label class="radio-inline">
							<input type="radio" name="sortby_asc" value="0" checked="checked">Descending</input>
						</label>
					</li>
				</form>
			</div>
		
			<h3>Filters</h3>
			<div>
				<form>
					<div class="form-group">
						<label for="releasetype" />
						<select id="releasetype" class="form-control">
							<option value="">All</option>
							<option value="boardgame">Boardgames</option>
							<option value="expansion">Expansions</option>
							<option value="collection">Collections</option>
							<option value="reimplementation">Reimplementations</option>
							<option value="integration">Integrates with..</option>
						</select>
					</div>
			
					{{> render_filteredselect attrs="boardgamedesigner" attrnm="Designer"}}
					{{> render_filteredselect attrs="boardgameartist" attrnm="Artist"}}
					{{> render_filteredselect attrs="boardgamepublisher" attrnm="Publisher"}}
					{{> render_filteredselect attrs="boardgamemechanic" attrnm="Mechanic"}}
					{{> render_filteredselect attrs="boardgamecategory" attrnm="Category"}}
					{{> render_filteredselect attrs="boardgamefamily" attrnm="Family"}}
	
					{{> render_rangeslider attr="playtime" attrnm="Playing Time" step="1"}}
					{{> render_rangeslider attr="numplayers" attrnm="Number of players" step="1"}}
					{{> render_rangeslider attr="yearpublished" attrnm="Playing Time"}}
				</form>
			</div>
		</div>
		<!-- end of "modal-body" -->
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default btn-block btn-primary" data-dismiss="modal" id="apply">Apply</button>
      		</div>
	</div>	
	<!-- "modal-dialog" -->	
